<div class="title">
  <h3>Kognitive</h3>
</div>

<router-outlet></router-outlet>
<div class="footer">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="['./owner-list']">Owner List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul>
</div>
